body{
  background-color: black;
}

h1{
  color:orange;
  font-family: fantasy;
  text-align: center;
}
nav{
  color:red;
  text-align: center;
  font-variant: small-caps;
  font-size: 150%;
  font-style: normal;
  font-family: Arial,serif;

}
section{
  width: 33%;
  display: inline-block;
  text-align: center;
}
img{
  height:auto;
  width: 75%;
}
footer{
  text-align: center;
  color: black;
}
